<!-- dl class="dl-horizontal">
	<dt><?php echo __('Id'); ?></dt>
	<dd>
		<?php echo h($client['Client']['id']); ?>
		&nbsp;
	</dd>
	<dt><?php echo __('Name'); ?></dt>
	<dd>
		<?php echo h($client['Client']['name']); ?>
		&nbsp;
	</dd>
	<dt><?php echo __('Phone'); ?></dt>
	<dd>
		<?php echo h($client['Client']['phone']); ?>
		&nbsp;
	</dd>
	<dt><?php echo __('Email'); ?></dt>
	<dd>
		<?php echo h($client['Client']['email']); ?>
		&nbsp;
	</dd>
	<dt><?php echo __('Website'); ?></dt>
	<dd>
		<?php echo h($client['Client']['website']); ?>
		&nbsp;
	</dd>
	<dt><?php echo __('Created'); ?></dt>
	<dd>
		<?php echo h($client['Client']['created']); ?>
		&nbsp;
	</dd>
</dl -->

<?php $this->Html->addCrumb($client['Client']['name'], null); ?>
<div class="page-header">
	<h1><?php echo $this->Html->link('Clients', [ 'action' => 'index' ]); ?> <span>&raquo;</span></h1>
	<?php echo $this->Html->getCrumbList( [ 'class' => 'breadcrumb' ], false); ?>
</div>

<?php foreach($client['Account'] as $account): ?>
	<div class="col-sm-2">
		<?php pr($account); ?>
	</div>
<?php endforeach; ?>